addons/metamod/bin/
addons/sourcemod/bin/
addons/sourcemod/extensions/
addons/sourcemod/gamedata/
addons/sourcemod/logs/
addons/sourcemod/data/
addons/sourcemod/old-stuff/
addons/sourcemod/configs/admins.cfg
addons/sourcemod/configs/databases.cfg
logs/
bin/
download/
downloadlists/
*.cache
modelsounds.cache_save
cfg/rcon.cfg
steam.inf
stats.txt
gameinfo.txt
hl2mp_pak_000.vpk
hl2mp_pak_dir.vpk
*.ztmp
*.bz2

